

<footer class="w-full bg-amber-900/95">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://www.instagram.com/zapatoca_panaderia/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="https://res.cloudinary.com/dadlhhv4t/image/upload/v1777689098/Logo_zapatoca_kkmcy2.jpg" class="h-12 w-12 rounded-full" alt="Flowbite Logo" />
                <span class="text-heading self-center text-2xl font-semibold whitespace-nowrap text-amber-50">Panadería Zapatoca</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-body sm:mb-0 text-amber-50">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Home</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Sobre nosotros</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Productos</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">¿Dónde estamos?</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-default sm:mx-auto lg:my-8 border-amber-50" />
        <span class="block text-sm text-body sm:text-center text-amber-50">© {{ getCurrentYear() }} <a href="https://wa.me/573127895108?text=Hola%20Carlos,%20quiero%20que%20desarrolles%20mi%20soluci%C3%B3n%20tecnol%C3%B3gica" class="hover:underline">Hecho por Carlos Romero</a>. Todos los derechos reservados.</span>
    </div>
</footer>


